.cronograma {
  min-height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    display: inline-block;
    position: relative;
    color: #fafafa;
    width: 300px;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: #ff8800;
      position: absolute;
      z-index: -1;
      padding-right: 40px;
      left: -20px;
      transform: rotateZ(-1deg);
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: #a532f1;
      position: absolute;
      z-index: -2;
      padding-right: 40px;
      left: -30px;
      top: 0;
      transform: rotateZ(-2deg);
    }
  }

  .calender {
    table {
      margin: 0 auto;

      tbody {
        tr {
          th {
            padding: 5px 10px;
          }

          td {
            padding: 5px;
            border-right: 1px solid #777;
            color: red;
            font-weight: 600;

            &:last-child {
              color: green;
              border-right: none;
            }
          }
        }
      }
    }
  }
}
