.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0 0 0;
  min-height: 400px;

  h1 {
    display: inline-block;
    position: relative;
    color: #fafafa;
    width: 300px;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: #ff8800;
      position: absolute;
      z-index: -1;
      padding-right: 40px;
      left: -20px;
      transform: rotateZ(-1deg);
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: #a532f1;
      position: absolute;
      z-index: -2;
      padding-right: 40px;
      left: -30px;
      top: 0;
      transform: rotateZ(-2deg);
    }
  }
  .form {
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border: 2px solid #cecece;
    border-radius: 8px;

    input {
      padding: 6px 12px;
      border-color: rgba(238, 238, 238, 0.37);
      border-radius: 8px;
      flex-basis: 100%;
      margin-bottom: 10px;

      &:focus-visible {
        border-radius: 8px;
        visibility: visible;
      }
    }

    button {
      padding: 8px 12px;
      border: none;
      background: orange;
      border-radius: 8px;
      color: #fafafa;
      flex-basis: 100%;

      &:hover {
        background: rgb(228, 163, 43);
        cursor: pointer;
      }
    }
  }

  .contact-map-area {
    padding: 50px 0 0 0;
    width: 100%;
    height: 500px;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}
